/HE.API/packages
/HE.API/Owin.pdb
/HE.API/HE.API/bin
/HE.API/HE.API/obj
/HE.API/.vs
/HE.API/HE.API/HE.API.csproj.user
/HE.Domain/.vs
/HE.Domain/HE.Domain/bin
/HE.Domain/HE.Domain/obj
/HE.Domain/HE.Domain/.vs
/HE.Domain/HE.Domain/HE.Domain.csproj.user
/HE.Domain/packages
/HE.WebApp.UserInterface/Owin.pdb
/HE.WebApp.UserInterface/packages
/HE.WebApp.UserInterface/System.IdentityModel.pdb
/HE.WebApp.UserInterface/.vs
/HE.WebApp.UserInterface/HE.WebApp.UserInterface/bin
/HE.WebApp.UserInterface/HE.WebApp.UserInterface/obj
/HE.WebApp.UserInterface/HE.WebApp.UserInterface/HE.WebApp.UserInterface.csproj.user
