@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_HomemadeEatsLayout.cshtml";
}

<h2>Welcome</h2>

<div id="welcomeScreen">
    <div  class="text-center">
        <h3>HOMEMADE EATS [LOGO]</h3>
        <h1 class="text-blackbold">We love homemade food!</h1>
        <br>
    </div>
    <div class="container-fluid text-center">
        @{ 
            Html.RenderAction("PartialMealTypeList", "HomemadeEats");
        }
    </div>

</div>
