@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_HomemadeEatsLayout.cshtml";
}

<div id="createScreen">
    <div class="text-center">
        <h3>HOMEMADE EATS [LOGO]</h3>
        <h1 class="text-blackbold">We love homemade food!</h1>
        <br>
    </div>
    <div class="container-fluid text-center">
        <div class="col-md-12">
            @*<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#CreateMealTypeModal" data-backdrop="static">Create</button>*@
            <a href="@Url.Action("CreateMealTypeModalDialog", "HomemadeEats")" id="CreateMealTypeLinkButton" data-toggle="modal" data-backdrop="static" class="btn btn-default btn-lg" role="button">
                <img src="~/Content/Images/add-icon3.jpg" class="img-responsive" style="width:255px; height:255px">
                <br />
                <p class="calligraphic-font">Create</p>
            </a>

            @*@Html.ActionLink("DisplayCreateTypeModalDialog", "HomemadeEats", new { @Id = "CreateMealTypeLinkButton", @data-toggle="" })
                <img src="~/Content/Images/add-icon3.jpg" class="img-responsive" style="width:255px; height:255px">
                <br />
                <p class="calligraphic-font">Create</p>*@
            
        </div>
    </div>
</div>
