@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title.</h2>

@* 
    Simply calling the partial file will work because the modal 
    html has already created by the layout file.  
    At this point, we are simply invoking the modal html on the form :)
*@
@Html.Partial("_PartialFormModal_CreateMealTypeDialog")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}