@model HE.WebApp.UserInterface.Models.MealTypesViewList
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_HomemadeEatsLayout.cshtml";
}

<h2>Welcome</h2>

@{ 
    var count = Model.MealTypesItemList.Count();
    if(Model.MealTypesItemList.Count() > 1)
    {
        count = 2;
    }
}
<div id="welcomeScreen" class="text-center">
    <h3>HOMEMADE EATS [LOGO]</h3>
    <h1><p><em class="text-blackbold">We love homemade food!</em></p></h1>
    <br>

    <div class="container-fluid">
        <div class="row text-center">


            <div class="col-md-4 divStyle">
                <a href="#breakfast" class="btn btn-default btn-lg" role="button">
                    <img src="~/Content/Images/omlete.jpg" class="img-responsive" alt="Breakfast" style="width:255px; height:255px">
                    <br />
                    <p>Breakfast</p>
                </a>
            </div>

            <div class="col-md-4 divStyle">
                <a href="#lunch" class="btn btn-default btn-lg" role="button">
                    <img src="~/Content/Images/lunch2.jpg" class="img-responsive" alt="Lunch" style="width:255px; height:255px">
                    <br />
                    <p>Lunch</p>
                </a>
            </div>

            <div class="col-md-4 divStyle">
                <a href="#dinner" class="btn btn-default btn-lg" role="button">
                    <img src="~/Content/Images/dinnerFajita.jpg" class="img-responsive" alt="Dinner" style="width:255px; height:255px">
                    <br />
                    <p>Dinner</p>
                </a>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-4 divStyle">
                <a href="#breakfast" class="btn btn-default btn-lg" role="button">
                    <img src="~/Content/Images/omlete.jpg" class="img-responsive" alt="Breakfast" style="width:255px; height:255px">
                    <br />
                    <p>Breakfast</p>
                </a>
            </div>

            <div class="col-md-4 divStyle">
                <a href="#lunch" class="btn btn-default btn-lg" role="button">
                    <img src="~/Content/Images/lunch2.jpg" class="img-responsive" alt="Lunch" style="width:255px; height:255px">
                    <br />
                    <p>Lunch</p>
                </a>
            </div>

            <div class="col-md-4 divStyle">
                <a href="#dinner" class="btn btn-default btn-lg" role="button">
                    <img src="~/Content/Images/dinnerFajita.jpg" class="img-responsive" alt="Dinner" style="width:255px; height:255px">
                    <br />
                    <p>Dinner</p>
                </a>
            </div>
        </div>
    </div>


</div>