footer {
   position:absolute;
   bottom:0;
   /*width: 90%;*/
}

body {
    background: url(images/roots.jpg) no-repeat center center fixed;
    background-size: cover; /* causes image to be full size of the screen */
    height: 100%;
    margin: 0;
    padding: 0;
}

.bodyHE {
    background: url(Images/watermarked.jpg) no-repeat center center fixed;
    background-size: cover; /* causes image to be full size of the screen */
    height: 100%;
    margin: 0;
    padding: 0;
}

/*html, body {
    background: url(images/roots.jpg) no-repeat center center fixed;
    background-size: cover; /* causes image to be full size of the screen */
    /*height: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.transparency1 {
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

.text-blackbold {
    font-weight: bold;
    color: black;
}

a {
  color: black;
}

.thumbnailsBreakfastImg {
    /*position: absolute;*/
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-image: url(Images/omlete.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.thumbnailWrapper {
    width:250px;
    height:350px;
    /*border:2px black solid;
    margin:auto;*/
    /*position: relative;*/
    overflow: auto;
}